
@{
    Layout = null;
}

@model YukiApplication.Models.DonHang

<head>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(180deg,rgba(135,206,250,0.5),rgba(245,245,245,0.5)), url(https://patternanddesign.com/wp-content/uploads/2019/01/ogee.jpg);
            background-size: 1px;
        }

        #form-group {
            margin-left: 500px;
        }

        #xacnhan {
            margin-left: 590px;
            border-radius: 12px;
        }

        h2 {
            margin-left: 570px;
        }
    </style>
</head>
<h2>THÔNG TIN GIAO HÀNG</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(dh => dh.HoTen)
        @Html.TextBoxFor(dh => dh.HoTen, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(dh => dh.DienThoai)
        @Html.TextBoxFor(dh => dh.DienThoai, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(dh => dh.DiaChi)
        @Html.TextAreaFor(dh => dh.DiaChi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h6>Ngày giờ:@DateTime.Now</h6>
    </div>

    <a href="/Home/BillCreate" class="btn btn-success">Lưu thông tin</a>
    <a>| Quay lại</a>
}
@RenderBody();