@model List<Lucci_Web.Models.DonHang>
@{
    ViewBag.Title = "DSDonHang";
}

<h2>Danh sách đơn hàng</h2>
<table class="table table-hover table-striped">
    <tr>
        <th>Ngày /  Giờ</th>
        <th>Sản phẩm</th>
        <th>SL</th>
        <th>Thành tiền</th>
        <th>Địa chỉ</th>
        <th>Sđt</th>
        <th>Trạng thái</th>
        <th>Chức năng</th>
    </tr>

    @foreach (var donHang in Model)
    {
        <tr>
            <td>@donHang.NgayGio</td>
            <td>@donHang.GioHang.SanPham.TenSanPham</td>
            <td>@donHang.GioHang.SoLuong</td>
            <td>0</td>
            <td>@donHang.DiaChi.ToString()</td>
            <td>@donHang.DienThoai</td>
            <td>@donHang.TrangThai.ToString()</td>
            <td>
                <abbr href="~/DanhSachDonHang/Xoa?id=@donHang.id">Xóa</abbr>
                <abbr href="~/DanhSachDonHang/XacnhanDonHang?id=@donHang.id">Xác nhận đơn hàng</abbr>
            </td>
        </tr>
    }
</table>
