@model List<Lucci_Web.Models.SanPham>
@{
    ViewBag.Title = "Index";
}

<h2>Sản Phẩm</h2>
<div>
    @foreach (var sanPham in Model.OrderBy(sp => sp.TenSanPham))
    {
        <div class="caption">
            <h3>@sanPham.TenSanPham</h3>
            <p>
                @sanPham.KichCo.TenGoi<br />
                @sanPham.SoLuong.ToString("N0")<br />
                @sanPham.ThuongHieu
            </p>
            <br />
            <p>
                <a href="#" class="btn btn-primary" role="button">@sanPham.DonGia.ToString("N0")<span>VNĐ</span></a>
                <a href="~/GioHang/Create" class="btn btn-default" role="button">Mua</a>
            </p>
        </div>
    }
</div>

